/* Commmon Styles and fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* <!-- Header Banner --> */

.head-section{
    background-color: #2D25A0;
    height: 677px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.intro-note h1{
    font-size: 64px;
    color: #FFFFFF;
}

.intro-note >a{
    
    background-color: #E02C6D;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
}

.intro-note >a:hover{
    border: 2px solid #ee1262;
    background-color: #ee1262 ;
}

.head-img{
    height: 438px;
    width: 556px;
}


/* Top player blog */

.container{
     
    width: 1200px; 
    margin: 0 auto;
}

.all-best{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    row-gap: 27px;
}

.best-player{
    display: flex;
    flex-direction: column;
 
    width: 330px;
    height: 470px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.player-image{
    width: 325px;
    height: 266px;
    
}
.blog{
    width: 300px;
    height: 154px;
}
.player-name{
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 700px;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}

.player-detail{
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
} 


/* Footer and sociallogo */
footer{
margin-top: 150px;
margin-bottom: 63px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer img{
    width: 483px;
    height: 110px;
}
.social-logo{
    width: 170px;
    height: 32px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.fab{
    color: grey;
    
}
